<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is the assignment for RMIT Rapid Application Development course - semester 1 2019
    </p>
  </body>
</html>
