
<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<div>
    <p>Please fill this up to contact the staffs.</p>
</div>

<nav>
    <form>
        <input type="text" placeholder="Name" aria-label="Name">
    </form>

     <form>
        <input type="text" placeholder="Email" aria-label="Email">
    </form>
         <form>
        <textarea placeholder="Messages" aria-label="Messages"></textarea>
    </form>
    <button class="btn btn-sm btn-outline-black my-0">Send</button>
</nav>
