<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Feedback from user</h1>
    <p>
      The following is the feedback from user <%= @contact.name %> at <%= @contact.email %>:<br>
    </p>

    <p>
	<%= @contact.message %>
    </p>
    
  </body>
</html>
