<footer class="footer">
  <div class="row">
	  <div class="column">
	    <%= link_to "Contact us", contacts_path %>
    
	    
	  </div>

	  <div class="column">
	    <h4>General Inquires</h4>
	    <nav>
		    <ul>
		      <li><a href="http://news.railstutorial.org/">Andy Song</a></li>
		      <li><a href="http://news.railstutorial.org/">asdfsdf</a></li>
		      <li><a href="http://news.railstutorial.org/">All</a></li>
		    </ul>
	  </nav>
	  </div>
	  <div class="column">
	    <h4>Useful Links</h4>
	    <nav>
		    <ul>
		      <li><a href="http://news.railstutorial.org/">RMIT Course</a></li>
		      <li><a href="http://news.railstutorial.org/">RMIT Help Desk</a></li>
		      <li><a href="http://news.railstutorial.org/">RMIT International</a></li>
		    </ul>
	  </nav>
	  </div>

	  <div class="column">
	    <h4>Media</h4>
	    <nav>
		    <ul>
		      <li><a href="https://youtube.com">Youtube</a></li>
		      <li><a href="https://twitter.com">Twitter</a></li>
		      <li><a href="https://facebook.com">Facebook</a></li>
		      <li><a href="https://instagram.com">Instagram</a></li>
		      <li><a href="https://skype.com">Skype</a></li>
		    </ul>
	  </nav>
	  </div>
<%= debug(params) %>
    <div style="position: absolute; bottom: 5px">
    <ul>
		      <li>Tel: 0123456789</li>
		      <li>Fax: 0123456</li>
		      <li>adfsdf@rmit.edu.au</li>
    </ul>
    </div>

</footer>
