<footer class="footer">
  <div class="row">
	  <div class="column">
	    <h4>Contact us</h4>
	    <nav>
		    <ul>
		      
		    </ul>
	  </nav>
	  </div>

	  <div class="column">
	    <h4>General Inquires</h4>
	    <nav>
		    <ul>
		      <li><a href="http://news.railstutorial.org/">Andy Song</a></li>
		      <li><a href="http://news.railstutorial.org/">asdfsdf</a></li>
		      <li><a href="http://news.railstutorial.org/">All</a></li>
		    </ul>
	  </nav>
	  </div>
	  <div class="column">
	    <h4>Useful Links</h4>
	    <nav>
		    <ul>
		      <li><a href="http://news.railstutorial.org/">RMIT Course</a></li>
		      <li><a href="http://news.railstutorial.org/">RMIT Help Desk</a></li>
		      <li><a href="http://news.railstutorial.org/">RMIT International</a></li>
		    </ul>
	  </nav>
	  </div>

	  <div class="column">
	    <h4>Media</h4>
	    <nav>
		    <ul>
		      <li><a href="http://news.railstutorial.org/">Youtube</a></li>
		      <li><a href="http://news.railstutorial.org/">Twitter</a></li>
		      <li><a href="http://news.railstutorial.org/">Facebook</a></li>
		      <li><a href="http://news.railstutorial.org/">Instagram</a></li>
		      <li><a href="http://news.railstutorial.org/">Skype</a></li>
		    </ul>
	  </nav>
	  </div>

</footer>
